---
title: Search
layout: base.njk
---

<h2>Search Results</h2>

<div id="search"></div>

<script src="/pagefind/pagefind.js" type="text/javascript"></script>
<script type="module">
  window.addEventListener("DOMContentLoaded", () => {
    new PagefindUI({
      element: "#search",
      showSubResults: true,
      mergeIndex: false
    });
  });
</script>
